body {
  color: #000000;
  background: #024194;
  font-family: "メイリオ", sans-serif;
}
h6 {
  color: #fff;
  color: #010101; /*文字色*/
  background: #eaf3ff; /*背景色*/
  border-bottom: solid 3px #516ab6; /*下線*/
}
.value {
  text-align: center;
  font-size: 50px;
}
#omikuji {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.button_wrapper,
input.button_wrapper {
  color: #fff;
  background-color: #eb6100;
  font-size-adjust: 50;
  /* 文字サイズを1.4emに指定 */
  font-size: 0.5em;

  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に10px、
   * 横方向に30pxの余白を指定 */
  padding: 10px 30px;
}
.button_wrapper:hover,
input.button_wrapper:hover {
  color: #fff;
  background: #f56500;
}
